<% layout("/layouts/boilerplate") -%> 
<div class="Err">
<img class="ErrorImage" src="https://leetcode.com/static/images/404_face.png">
<div class="ErrorMessage">
    <p><%=message %></p>
</div>
</div>

