/* ---------------------------------------------------------------------------------------------- */
/* NavBar CSS*/
/* --------------------------------------------------------------------------------------------------- */
body{
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}
.navbar{
    height: 5rem;
    background-color: white;    /* not transparent hence on scrolling it will */
}
.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  
  .spin-logo {
    display: inline-block;
    animation: spin 2s infinite linear;
  }
  
.nav-link{
    color: #000000  !important;    /*   so that it overrides bootstrap css */
}

/* ---------------------------------------------------------------------------------------------- */
/* Footer CSS*/
/* --------------------------------------------------------------------------------------------------- */

.container {
    flex: 1;   /*occupies all space available*/
}

footer {
    margin: 0;
    margin-top:60px;
    padding: 20px 0;
    background-color: #f5f5f5;
    color: #555;
    font-size: 14px;
    text-align: center;
    border-top: 1px solid #ddd; /* Optional: Add a border at the top */
    position: relative;
}

.f-info-social {
    margin-bottom: 10px;
}

.f-info-social i {
    margin: 0 5px;
    font-size: 24px;
    color:black;
}

.f-links a {
    margin: 0 10px;
    text-decoration: none;
    color: #111111;
}

.f-links a:hover {
    color: #7893cd; 
}
.f-info-social i:hover {
    color: #7c7ce5; 
}

/* ------------------------------------------------------------------------------------------------ */
/* Image CSS */
/* --------------------------------------------------------------------------------------------- */
/* .card-img-top{
    width:20rem;
    height: 20rem;
} */

input,textarea {
    border:1px solid rgb(155, 152, 152) !important;
}
.listing-card{
    border: none !important;
    height:20rem;
    margin:10px;
}
.card-img-top{
    height: 20rem !important;
    border-radius: 1rem !important;
    object-fit: cover !important;
}
.card-body{
    padding: 2px !important;
}
.card-text {
   font-weight: 500 !important;
}

.listing_link{
  text-decoration: none;
}
/* Card Effect */

.card-img-top:hover{
    opacity: 0.7;
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* show.ejs Css */
.card-text{
    font-size: medium !important;
}
.btns{
    display: flex;
}

.btn-danger,.btn-dark{
    height:40px;
    width:100px;
    margin:5px;
}

.btn-success{
    margin-top:5px;
    height:40px;
}
/* -------------------------------------------------------------------------------- */
/* error.ejs page style */

.ErrorImage {
  background-color: rgba(0, 0, 0, 0.491);
  height:300px;
  width:300px;
  margin: 100px 0 0 400px;
}

.ErrorMessage{
    height:auto;
    width:400px;
    position:relative;
    left:720px;
    top:-200px;
    font-weight: 900;
    font-size:20px;
}

/* star rating css */
/* styles.css */

.star-rating .star{
    font-size: 2rem;
    border: none;
    color:#fe424d;
    background-color:white;
    cursor: pointer;
}
#comment{
    height: 120px;
    width: 500px;
}

/* flash message css */
.successmsg{
    position: absolute;
    left:0;
   background-color: rgb(150, 225, 150) !important;
   font-weight: bolder;
   font-size: medium;
   text-align: center;
   color:rgb(3, 3, 3);
}
.errormsg{
    text-align: center;
     position:absolute;
     left:0;
    background-color: rgb(248, 90, 93) !important;
    font-weight: bolder;
    font-size: medium;
    color:rgb(3, 3, 3);
}

.closebtn{
    font-size: 10px !important;
}

/* review Showing css */

.userReviews{
    width: 150px;
    border: 1px solid grey;
    border-radius: 12px;
    background-color: rgb(222, 247, 252);
}

.signupHeader{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
}
.delete-icon{
         cursor: pointer;
}
.delete-icon:hover{
    size:4px;
    color: red;
}

/* preview image opening css */
#currentImageLink{
    position: relative;
    text-decoration: none;
    font-weight: bolder;
    left:550px;
    top:24px;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
}

.popup-image{
    position: fixed;
    z-index: 100;
    left:570px;
    top:220px;
    display: none;
}

.popup-image img{
     height: 300px;
     width:350px; 
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

.popup-image span{
    position:relative;
    font-size: 40px; 
    left: 700px;
    top: -200px;
    color: rgb(62, 61, 61);
    cursor: pointer;
}


/* map Styling */
#map {
    height: 400px;
    width:100vh;
  }

  /* map icon  */
  #marker {
    background-image: url('https://png.pngtree.com/png-clipart/20230221/original/pngtree-location-home-icon-pin-deal-clipart-png-image_8962267.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
  }


  /* front page ui changigng */
  .filters{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-left:15px;
      
  }
  .filter{
     text-align:center;
     margin-top:2rem;
     margin-right:2.5rem;
     opacity: 0.7;
     font-size:0.89rem;
  }

  .filter:hover{
    cursor: pointer;
    opacity: 1;
    transform: scale(1.05);
  }

 /* taxrate */
 .tax-rate{
    display:none;
 }
 .tax-toggle{
    height:3rem;
    border: 2px solid black;
    border-radius:1rem;
    padding:1rem;
    margin-left:5rem;
    display:flex;
    align-items: center;
 }

 /* navbar search ui */
.search-bar{
    position: relative;
    right:2rem;
}
 .search-btn{
    width:10rem;
    background-color: #ff0202 !important;
    color:#fff;
    border-radius:1.2rem;
    border:none !important;
 }
 .search-btn:hover{
    background-color: #474748 !important;
 }
 .search-btn i{
    display: inline;
    margin-right: 0.2rem;
 }
  
 /* booking css */

.booking-form-container {
    position:absolute;
    top:17%;
    left:35%;
   background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color:rgba(232, 242, 95, 0.422);
  
}
.form-group{
  padding:0.5rem;
}

.in-out{
display: flex;
}
.in-out input{
font-size: large;
border-radius: 1rem;
padding:0.5rem;
}

.form-group select{
width:6rem !important;
margin-left: 15rem !important;
font-size: large !important;
border-radius: 1rem;
margin-top:-26px;
}

#checkAvail{
background-color: #FF5A5F;
color: rgb(10, 9, 9);
margin-top:1rem;
padding:0.6rem;
border-radius: 0.6rem;
}

/* price indo css */

#price-info {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 100;
    left: 50%;
    top: 45%; 
    transform: translate(-50%, -50%); 
    max-width: 80%;
}

#overlay2 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
}

  #price-info p {
    font-size: 16px;
    color: #333;
    margin: 10px 0;
    line-height: 1.5;
  }
  
 
  #price-info p span {
    font-weight: bold;
    color: #555;
  }
  
  
  #price-info p:last-child span {
    color: #6c7472;
    font-size: 20px;
  }

  #reserve-btn {
    position:relative;
    display: block;
    width: 50%;
    background-color: #fe424fb7;
    color: #fff;
    font-size: 16px;
    padding: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
    transition: background-color 0.3s ease;
    left:-5%;
  }
  
  #reserve-btn:hover {
    background-color: #fe424f
  }

#closePopup2 {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
    color: #333;
}

#closePopup2:hover {
    color: #e74c3c;
}

#bookingerror{
   padding:10px;
   margin-top:2rem;
   background-color: rgb(254, 3, 7);
   font-size: medium;
   font-weight: bolder;
   border-radius:2rem;
   margin-left:35%;
   text-align: center;
}

#bookingsuccess{
    padding:10px;
    margin-top:2rem;
    background-color: rgb(150, 225, 150);
    font-size: medium;
    font-weight: bolder;
    margin-left:27%;
    text-align: center;
    border-radius: 10px;
 }